@media all and (min-width: 769px) and (max-width: 900px) {
    .game-field {
        width: calc(100vw - 90px);
    }
}

@media all and (max-width: 768px) {
    .game > :nth-child(2) {
        margin: 50px 0px 20px 15px;
    }
    
    .game-field {
        width: calc(100vw - 60px);

        & > :first-child:not(.history), .wrapper > :first-child {
            margin-bottom: 20px;
        }

        h1 {
            justify-self: center;
        }

        .history {
            height: 495px;
        }

        .wrapper {
            flex-direction: column;
        }
    }

    .stats, .controls {
        max-width: 95%;
    }

    .stats-final {
        padding: 15px;
    }
}