@media all and (min-width: 481px) and (max-width: 768px) {
    .l-content, main, footer {
        width: 440px;
    }

    .email {
        padding: 15px 0px;

        &-news {
            margin: 0px 5px 0px 10px;
        }

        &-icon {
            margin-left: 5px;
        }

        &-button {
            margin: 0px 5px 0px 18px;
        }
    }

    input {
        width: 332px;
        margin-left: 7px;
    }

    .banner {
        height: 331px;

        &-header, &-text {
            width: 410px;
        }
    }

    .logo, .logo img {
        width: 80px;
        height: 80px;
    }

    aside {
        height: 110px;

        ul {
            margin-left: 10px;
            width: 369px;
        }
    }
}