@media all and (min-width: 769px) and (max-width: 992px) {
    footer {
        height: 82px;
    }

    .l-content, footer {
        width: 712px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    aside {
        justify-content: space-between;
        height: 160px;
        margin-bottom: 31px;

        li {
            width: 100px;
            height: 62px;
            justify-content: center;
        }
    }
}