@media all and (min-width: 769px) and (max-width: 1176px) {
    main {
        width: 712px;
    }
    
    .slider-tab {
        width: 177.5px;
        @include font-size-line(14px, 14px);
        align-items: center;
        padding: 10px;
    }

    .email {
        padding: 10px 9px;

        &-news {
            width: 363px;
        }
    }

    .article, .article-image {
        width: 159px;
    }

    .article-image {
        height: 113px;
    }
}

@media all and (min-width: 993px) {
    aside {
        width: 140px;

        li {
            padding-bottom: 31px;
        }
    }
}

@media all and (min-width: 993px) and (max-width: 1176px) {
    footer, .l-content {
        width: 896px;
    }
}

@media all and (max-width: 1176px) {
    main .desc {
        display: none;
    }
}