@import '~antd/dist/antd.css';
@import '~react-custom-scroll/dist/customScroll.css';
@import '../../../styles/mixins';

.nav-bar {
    .friends {
        @include flex(column, '', '');
        flex: 1 1 auto;
        height: 40%;

        > div {
            margin-bottom:10px;
        }

        .header {
            font-size: 12px;
            line-height: 14px;
            color: #919191;
        }

        &-list .wrapper {
            color: #b5b5b5;
            padding: 10px;
            @include flex(row, center, '');
            margin-right: 15px;

            &:hover {
                cursor: pointer;
                background: rgba($color: #ffffff, $alpha: 0.2);
                border-radius: 5px;

                .text {
                    color: #ffffff;
                }
            }

            .online, .offline {
                margin-left: 0px;
                margin-right: 10px;
            }

            .user-photo {
                border-radius: 3px;
                margin-right: 10px;
                border: 0.5px solid black;
            }
        }
    }
}