@import '../../styles/mixins';

textarea {
    @include font(14px, 16px);
    height: 40px;
    border: none;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
    padding: 10px;
    resize: none;

    &::placeholder {
        color: #BDC3C7;
    }
}