@mixin font-size-line($size, $line) {
    font-size: $size;
    line-height: $line;
}

@mixin banner-caption {
    font-style: italic;
    justify-content: center;
    padding: 15px;
}

@mixin border($loc, $width, $type, $box) {
    border#{$loc}: $width $type #e5e5e5;
    
    @if $box == "+" { box-sizing: border-box; }
}

@mixin icon($name, $hover) {
    .#{$name}-icon {
        @extend .svg-#{$name}-icon;
        @extend .svg-#{$name}-icon-dims;

        @if $hover == "h" {
            &:hover {
                @extend .svg-#{$name}_hover-icon;
                @extend .svg-#{$name}_hover-icon-dims;
            }
        }
    }
}