@mixin font-size-line($size, $line) {
    font-size: $size;
    line-height: $line;
}

@mixin banner-caption {
    font-style: italic;
    justify-content: center;
    padding: 15px;
}

@mixin border($loc, $width, $type, $box) {
    border#{$loc}: $width $type #e5e5e5;
    
    @if $box == "+" { box-sizing: border-box; }
}

@mixin icon($name, $hover) {
    .#{$name}-icon {
        background: url(/images/svg/#{$name}-icon.svg) no-repeat;
        background-position: center;
        @if $name == twitter_a {
            width: 16px;
            height: 14px;
        } @else {
            height: 33px;
            @if $name == facebook {
                width: 17px;
            } @else {
                width: 33px;
            }
        }
        @if $hover == "h" {
            &:hover {
                background-image: url(/images/svg/#{$name}_hover-icon.svg);
            }
        }
    }
}