@import './styles/mixins';

.game {
  margin: 50px 0px;

  .nav > a {
    color: blue;
  }

  & > :nth-child(2) {
    margin: 50px 0px 20px 0px;
  }

  &-title {
    @include font(32px, 37px);
    @include justify(center);
    font-weight: bold;
  }

  &-field {
    @include flex-dir(column);
    background-color: #ffffff;
    width: 800px;
    padding: 30px;

    & > :first-child:not(.history):not(.action),
    & > :nth-child(2):not(:last-child) {
      margin-bottom: 40px;
    }

    & > :first-child.action {
      margin-bottom: 15px;
    }

    .wrapper {
      @include flex-dir(row);
      justify-content: space-between;
    }

    .stats, .controls {
      @include flex-dir(column);
      padding: 20px;
      box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
      min-width: 42%;
    }

    .stats-final {
      @include flex-dir(column);
      align-items: center;
      justify-content: center;
      background-color: black;

      :first-child {
        padding-bottom: 20px;
      }

      .game-over {
        color: red;
        font-size: 22px;
        font-family: fantasy;
      }

      .game-reload {
        color: white;
      }
    }
  }
}