@import './mixins';

.game {
  margin: 50px 0px;

  &-title {
    @include font(32px, 37px);
    @include justify(center);
    font-weight: bold;
  }

  &-field {
    @include flex-dir(column);
    margin-top: 50px;
    background-color: #ffffff;
    width: 800px;
    padding: 30px;

    & > :first-child {
      margin-bottom: 40px;
    }

    .wrapper {
      @include flex-dir(row);
      justify-content: space-between;
    }

    .stats, .controls {
      @include flex-dir(column);
      padding: 20px;
      box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
      min-width: 42%;
    }
  }
}