@import '~antd/dist/antd.css';
@import '~react-custom-scroll/dist/customScroll.css';
@import url(https://fonts.googleapis.com/css?family=Lato);
@import '../../../styles/mixins';

.chat-header {
    justify-content: space-between;
    padding: 30px 20px 20px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.24);
    @include flex(row, center, '');

    .icon {
        font-size: 17px;
        display: block;

        &:hover, &.added {
            color: orange;
        }

        &-control {
            font-size: 20px;
        }
    }
  
    .wrapper {
        @include flex(row, center, '');
      
        & > :not(:last-child) {
            margin-right: 10px;
        }
    }
  
    .chat-name {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
  
    .meta {
        @include flex('', center, '');
  
        :not(:last-child) {
            margin-right: 25px;
        }
  
        .chat-members {
            @include flex(row, center, '');
            
            :first-child {
                margin-right: 2px;
            }
        }
    }
}