@import '../../mixins';

.stat {
    @include flex-dir(column);

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &_value-wrapper {
        height: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
        border: 1px solid #34495e;
        box-sizing: border-box;
        margin-top: 5px;
    }
}

@each $class, $color in (health, #E74C3C), (thirst, #3498DB),
                        (hunger, #E67E22), (fatigue, #95A5A6) {
    .#{$class} {
        @include stat($color)
    } 
}