@import url(https://fonts.googleapis.com/css?family=Lato);
@import './styles/mixins';

.chattingApp {
    @include flex(row, '', '');
    height: 100vh;
    min-height: 570px;
}

.online, .offline {
    width: 8px;
    height: 8px;
    border-radius: 45px;
    margin-left: 10px;
}

.online {
    background-color: #70cc16;
}

.offline {
    background-color: #666666;
}

.text {
    font-size: 14px;
    line-height: 17px;
}

.rcs-custom-scroll .rcs-inner-handle {
    background-color: #000000 !important;
    mix-blend-mode: normal;
}
