@import url(https://fonts.googleapis.com/css?family=Lato);

.chattingApp {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-height: 605px;
}

.online {
  width: 8px;
  height: 8px;
  background-color: #70cc16;
  border-radius: 45px;
  margin-left: 10px;
}

.offline {
  width: 8px;
  height: 8px;
  background-color: #666666;
  border-radius: 45px;
}

.text {
  font-size: 14px;
  line-height: 17px;
}

.rcs-custom-scroll .rcs-inner-handle {
  background-color: #000000 !important;
  mix-blend-mode: normal;
  opacity: 0.2;
}
