@import '../../styles/mixins';

button {
    @include font(14px, 16px);
    padding: 8px 0px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    border: none;

    &:not(:last-child) {
        margin-bottom: 11px;
    }
}

.eat {
    @include control(#E74C3C, rgba(231, 76, 60, 0.5));
}

.drink {
    @include control(#3498DB, rgba(52, 152, 219, 0.5));
}

.sport {
    @include control(#E67E22, rgba(230, 126, 34, 0.5));
}

.work {
    @include control(#95A5A6, rgba(149, 165, 166, 0.5));
}