body {
    margin-top: 50px;
    font-family: $primary-font;
    @include font-size-line(14px, 20px);
    letter-spacing: -0.02em;
}

a {
    color: $link-color;
}

a:hover, button:hover {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    border-color: mediumseagreen;
}

aside {
    ul {
        @include font-size-line(14px, 14px);
        font-style: italic;
    }
    
    & a.logo, & a.logo img {
        @include border("", 0px, solid, "");
        border-radius: 73px;
    }
}

form input, form button {
    @include border("", 1px, solid, "+");
}

input {
    @include font-size-line(10px, 10px);
    width: 160px;
    height: 22px;
    padding: 6px;

    &::placeholder { color: #e5e5e5; }
}