@import '~antd/dist/antd.css';
@import '~react-custom-scroll/dist/customScroll.css';
@import '../../styles/mixins';

.nav-bar {
    @include flex(column, '', '');
    background-color: #25272A;
    color: white;
    opacity: 0.75;
    padding: 36px 25px 10px;
  
    .settingIcon {
        font-size: 18px;
        opacity: 0.6;
        cursor: pointer;
    }

    .header {
        margin-bottom: 30px;
        @include flex(row, center, space-between);

        button {
            background: #25272A;
            border: 1px solid #25272A;
            color: white;
            padding: 0px;
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
        }
    }
}