@import '~antd/dist/antd.css';
@import '~react-custom-scroll/dist/customScroll.css';
@import '../../../styles/mixins';

.nav-bar {
    color: #b5b5b5;
    
    .icon {
        font-size: 18px;
        opacity: 0.6;
        cursor: pointer;
    }

    .threads {
        margin-bottom: 30px;
        @include flex(row, '', space-between);

        &-all > :first-child {
            margin-right: 10px;
        }
    }

    .channels {
        @include flex(column, '', '');
        flex: 1 1 auto;
        height: 40%;
    
        > div {
            margin-bottom:10px;
        }

        .channels-header {
            @include flex(row, '', space-between);
            font-size: 12px;
            line-height: 14px;
            color: #919191;
        }

        .channels-list {
            @include flex(column, '', '');
        
            & > .item {
                padding: 5px 10px 5px 15px;
                @include flex(row, '', space-between);

                & a, & .text {
                    color: #b5b5b5;
                }
        
                a:first-child {
                    width: 100%;
                }
        
                .icon {
                    opacity: 1;
        
                    &.added {
                        color: #ffffff;
                        margin-left: 15px;
                    }
                    &.text {
                        display: none;
                        margin-left: 5px;
                    }
                }
        
                &:hover, &.open {
                    cursor: pointer;
                    background: rgba($color: #ffffff, $alpha: 0.2);
                    border-radius: 5px;
            
                    &:hover {
                        .icon {
                            display: inline-block;
                        }
                    }
            
                    a, .text {
                        color: #ffffff
                    }
                }
            }
        }
    }
}