aside {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

aside > div {
    width: 140px;
}

.logo {
    background-color: #000000;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

aside > ul {
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    font-style: italic;
}

aside > ul > li {
    padding-bottom: 31px;
}

.aside_label {
    margin-left: 12px;
}

.aside_social > button {
    font-size: 10px;
    line-height: 12px;
    height: 30px;
    color: #34ACA7;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    background-color: white;
    width: 140px;
    font-style: italic;
    margin-top: 12px;
}

.community {
    border-bottom: 1px dashed #e5e5e5;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 0px;
}

aside .nav_desc {
    margin-top: 10px;
}