aside {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    width: 896px;
}

.l-content {
    min-height: calc(100vh - 186px);
    width: 1088px;
}

.l-articles {
    flex-wrap: wrap;
}

footer {
    border-top: 2px solid #e5e5e5;
    height: 90px;
    width: 1088px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
}

footer:not(a) {
    color: #e5e5e5;
}