@media all and (min-width: 1177px) {
    .main_nav .nav_desc {
        visibility: visible;
    }
}

@media all and (max-width: 768px) {
    .slider {
        visibility: hidden;
    }
}

@media all and (min-width: 993px) and (max-width: 1176px) {
    footer, .content {
        width: 896px;
    }
}

@media all and (min-width: 769px) and (max-width: 992px) {
    footer {
        width: 716px;
        height: 82px;
    }

    .content {
        width: 716px
    }

    .aside_nav {
        display: flex;
        flex-direction: column;
    }

    aside {
        justify-content: space-between;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    footer {
        width: 460px;
        height: 78px;
    }

    .content {
        width: 460px;
    }
}

@media all and (max-width: 480px) {
    footer {
        width: 429px;
        height: 78px;
    }

    .content {
        width: 429px;
    }
}

@media all and (max-width: 992px) {
    .aside_social {
        visibility: hidden;
    }

    .content {
        flex-direction: column;
    }

    aside {
        flex-direction: row;
    }

    aside > ul {
        display: flex;
        flex-direction: row;
    }
}