@media all and (min-width: 1177px) {
    .main_nav .nav_desc {
        visibility: visible;
    }
}

@media all and (max-width: 768px) {
    .slider {
        visibility: hidden;
    }
}

@media all and (min-width: 993px) and (max-width: 1176px) {
    footer {
        width: 896px;
    }
}

@media all and (min-width: 769px) and (max-width: 992px) {
    footer {
        width: 716px;
        height: 82px;
    }
}

@media all and (min-width: 481px) and (max-width: 768px) {
    footer {
        width: 460px;
        height: 78px;
    }
}

@media all and (max-width: 480px) {
    footer {
        width: 429px;
        height: 78px;
    }
}

@media all and (max-width: 992px) {
    .aside_social {
        visibility: hidden;
    }
}